<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Печать</title>
    <style>
        body { text-align: center; font-family: sans-serif; }
        img { border: 1px solid black; margin: 10px; max-width: 100%; }
        .debug { color: red; font-size: 12px; background: #eee; padding: 5px; }
    </style>
</head>
<body>
    <h2>Покупка завершена</h2>
    <button onclick="window.print()">Печать</button>
    <br><a href="/cashier">В кассу</a>
    <hr>

    <h3>Чек:</h3>
    <img src="{{ receipt_img }}"><br>
    
    <h3>Билеты ({{ tickets_imgs|length }} шт.):</h3>
    
    {% for img_url in tickets_imgs %}
        <!-- ЭТА СТРОКА ПОКАЖЕТ НАМ ПРАВДУ -->
        <p class="debug">Ссылка сервера: {{ img_url }}</p>
        
        <img src="{{ img_url }}">
    {% endfor %}
</body>
</html>
